<meta charset="utf8">

<h1>Déclaration Universelle des Droits de l'Homme</h1>

<p>L'ensemble du texte est disponible en <a href="http://www.ohchr.org/EN/UDHR/Documents/UDHR_Translations/frn.pdf">version PDF</a></p>

<p>En extrait, ci-dessous les 6 premiers articles</p>

<h2>Article premier</h2>
 
<p>Tous les êtres humains naissent libres et égaux en dignité et en droits. Ils sont doués de raison et de conscience 
et doivent agir les uns envers les autres dans un esprit de fraternité.</p>

<h2>Article 2</h2>

<p>1. Chacun peut se prévaloir de tous les droits et de toutes les libertés proclamés dans la présente Déclaration, 
sans distinction aucune, notamment de race, de couleur, de sexe, de langue, de religion, d'opinion politique ou de 
toute autre opinion, d'origine nationale ou sociale, de fortune, de naissance ou de toute autre situation.
2. De plus, il ne sera fait aucune distinction fondée sur le statut politique, juridique ou international du pays 
ou du territoire dont une personne est ressortissante, que ce pays ou territoire soit indépendant, sous tutelle, 
non autonome ou soumis à une limitation quelconque de souveraineté.</p>

<h2>Article 3</h2>
 
<p>Tout individu a droit à la vie, à la liberté et à la sûreté de sa personne.</p>

<h2>Article 4</h2>

<p>Nul ne sera tenu en esclavage ni en servitude; l'esclavage et la traite des esclaves sont interdits sous toutes 
leurs formes.</p>

<h2>Article 5</h2>

<p>Nul ne sera soumis à la torture, ni à des peines ou traitements cruels, inhumains ou dégradants.</p>

<h2>Article 6</h2>

<p>Chacun a le droit à la reconnaissance en tous lieux de sa personnalité juridique.</p>