body { /* on vise une balise */
    text-align : center ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    color : #33d;
}
h2 {
    color : #666;
    padding : 20px;
}
#intro { /* on vise un élément par son id */
    font-style: italic;
}
.article{ /* on vise une classe par son label */
    color : #666;
    font-size: 18px;
}