body {
    background : #ddd ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#conteneur-principal {
    width : 507px;
    min-height : 100px ;
    background: white ;
    margin : 0 auto ;
    margin-top : 60px ;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000080;
}

#bandeau {
    background-image: url(./../img/fondcodesmall.jpg);
    width : 507px;
    height : 173px;
    color : white ;
    text-align: center ;
}

#bandeau .titre{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding: 50px;
    padding-bottom : 20px;
}

.info-fiche {
    padding: 30px 0;
}

.info-fiche p {
    padding: 10px 50px;
}

.titre-rubrique {
    font-weight: bold;
}

.info-fiche a {
    background: #ea0;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none ;
    font-weight: bold;
    color : rgb(255, 255, 255) ;
}
